# Node and Angular
node_modules/
dist/
.env
.env.local

# Python and Flask
__pycache__/
*.pyc
instance/
*.db
*.sqlite3
*.log

# Docker
*.tar
*.pid
*.sock

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Helm and Kubernetes
*.tgz
charts/
values.yaml.backup