{# templates/macros/cards.html #}
{% macro service_card(title, desc, img_filename, alt, link='#') -%}
<div class="col-md-4">
  <div class="card h-100 shadow-sm border-0">
    <div class="card-img-wrap with-overlay">
      <img
        src="{{ url_for('static', filename='images/' ~ img_filename) }}"
        class="card-img-top"
        alt="{{ alt }}"
        loading="lazy"
        decoding="async"
      >
    </div>
    <div class="card-body">
      <h5 class="card-title fw-bold">{{ title }}</h5>
      <p class="card-text">{{ desc }}</p>
      <a href="{{ link }}" class="btn btn-primary">LEARN MORE</a>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro pillar_card(title, desc, icon_filename, alt) -%}
<div class="col-md-4 text-center">
  <img src="{{ url_for('static', filename='images/' ~ icon_filename) }}"
       class="mb-3"
       alt="{{ alt }}"
       width="64"
       height="64">
  <h5 class="fw-bold">{{ title }}</h5>
  <p>{{ desc }}</p>
</div>
{%- endmacro %}
