{% extends "base.html" %}
{% from "macros/about.html" import about_section %}
{% from "macros/ui.html" import navbar, flash_messages %}

{% block title %}About Us{% endblock %}

{% block content %}
  {{ navbar(
      brand_logo_path='images/logo.png',
      brand_href=url_for('index'),
      nav_items=[
        {'href': url_for('index') + '#services', 'label': 'Services'},
        {'href': url_for('about'), '#label': 'About'},
        {'href': url_for('index') + '#contact', 'label': 'Contact'}
      ],
      current_path=request.path
  ) }}

  {{ flash_messages() }}

  {{ about_section(full=True) }}
{% endblock %}

